KDD-Cup/data/001_UCR_Anomaly_35000.txt
KDD-Cup/data/002_UCR_Anomaly_35000.txt
KDD-Cup/data/003_UCR_Anomaly_35000.txt
KDD-Cup/data/004_UCR_Anomaly_2500.txt
KDD-Cup/data/005_UCR_Anomaly_4000.txt
KDD-Cup/data/006_UCR_Anomaly_4000.txt
KDD-Cup/data/007_UCR_Anomaly_4000.txt
KDD-Cup/data/008_UCR_Anomaly_4000.txt
KDD-Cup/data/009_UCR_Anomaly_4000.txt
KDD-Cup/data/010_UCR_Anomaly_4000.txt
KDD-Cup/data/011_UCR_Anomaly_10000.txt
KDD-Cup/data/012_UCR_Anomaly_15000.txt
KDD-Cup/data/013_UCR_Anomaly_15000.txt
KDD-Cup/data/014_UCR_Anomaly_8000.txt
KDD-Cup/data/015_UCR_Anomaly_5000.txt
KDD-Cup/data/016_UCR_Anomaly_5000.txt
KDD-Cup/data/017_UCR_Anomaly_5000.txt
KDD-Cup/data/018_UCR_Anomaly_8000.txt
KDD-Cup/data/019_UCR_Anomaly_5000.txt
KDD-Cup/data/020_UCR_Anomaly_5000.txt
KDD-Cup/data/021_UCR_Anomaly_5000.txt
KDD-Cup/data/022_UCR_Anomaly_4000.txt
KDD-Cup/data/023_UCR_Anomaly_5000.txt
KDD-Cup/data/024_UCR_Anomaly_3200.txt
KDD-Cup/data/025_UCR_Anomaly_2800.txt
KDD-Cup/data/026_UCR_Anomaly_1700.txt
KDD-Cup/data/027_UCR_Anomaly_1200.txt
KDD-Cup/data/028_UCR_Anomaly_1600.txt
KDD-Cup/data/029_UCR_Anomaly_2300.txt
KDD-Cup/data/030_UCR_Anomaly_3000.txt
KDD-Cup/data/031_UCR_Anomaly_2700.txt
KDD-Cup/data/032_UCR_Anomaly_1000.txt
KDD-Cup/data/033_UCR_Anomaly_4000.txt
KDD-Cup/data/034_UCR_Anomaly_1500.txt
KDD-Cup/data/035_UCR_Anomaly_2500.txt
KDD-Cup/data/036_UCR_Anomaly_4200.txt
KDD-Cup/data/037_UCR_Anomaly_5000.txt
KDD-Cup/data/038_UCR_Anomaly_5000.txt
KDD-Cup/data/039_UCR_Anomaly_5000.txt
KDD-Cup/data/040_UCR_Anomaly_6000.txt
KDD-Cup/data/041_UCR_Anomaly_7000.txt
KDD-Cup/data/042_UCR_Anomaly_7000.txt
KDD-Cup/data/043_UCR_Anomaly_10000.txt
KDD-Cup/data/044_UCR_Anomaly_9000.txt
KDD-Cup/data/045_UCR_Anomaly_14000.txt
KDD-Cup/data/046_UCR_Anomaly_16000.txt
KDD-Cup/data/047_UCR_Anomaly_18000.txt
KDD-Cup/data/048_UCR_Anomaly_3500.txt
KDD-Cup/data/049_UCR_Anomaly_3500.txt
KDD-Cup/data/050_UCR_Anomaly_3500.txt
KDD-Cup/data/051_UCR_Anomaly_3500.txt
KDD-Cup/data/052_UCR_Anomaly_3500.txt
KDD-Cup/data/053_UCR_Anomaly_1500.txt
KDD-Cup/data/054_UCR_Anomaly_2700.txt
KDD-Cup/data/055_UCR_Anomaly_10000.txt
KDD-Cup/data/056_UCR_Anomaly_5000.txt
KDD-Cup/data/057_UCR_Anomaly_6000.txt
KDD-Cup/data/058_UCR_Anomaly_10000.txt
KDD-Cup/data/059_UCR_Anomaly_20000.txt
KDD-Cup/data/060_UCR_Anomaly_22000.txt
KDD-Cup/data/061_UCR_Anomaly_24500.txt
KDD-Cup/data/062_UCR_Anomaly_18500.txt
KDD-Cup/data/063_UCR_Anomaly_18500.txt
KDD-Cup/data/064_UCR_Anomaly_23400.txt
KDD-Cup/data/065_UCR_Anomaly_3000.txt
KDD-Cup/data/066_UCR_Anomaly_3700.txt
KDD-Cup/data/067_UCR_Anomaly_5200.txt
KDD-Cup/data/068_UCR_Anomaly_1300.txt
KDD-Cup/data/069_UCR_Anomaly_3200.txt
KDD-Cup/data/070_UCR_Anomaly_17555.txt
KDD-Cup/data/071_UCR_Anomaly_23000.txt
KDD-Cup/data/072_UCR_Anomaly_20000.txt
KDD-Cup/data/073_UCR_Anomaly_60000.txt
KDD-Cup/data/074_UCR_Anomaly_4000.txt
KDD-Cup/data/075_UCR_Anomaly_4000.txt
KDD-Cup/data/076_UCR_Anomaly_48000.txt
KDD-Cup/data/077_UCR_Anomaly_58000.txt
KDD-Cup/data/078_UCR_Anomaly_100000.txt
KDD-Cup/data/079_UCR_Anomaly_30000.txt
KDD-Cup/data/080_UCR_Anomaly_30000.txt
KDD-Cup/data/081_UCR_Anomaly_45000.txt
KDD-Cup/data/082_UCR_Anomaly_70000.txt
KDD-Cup/data/083_UCR_Anomaly_38000.txt
KDD-Cup/data/084_UCR_Anomaly_12000.txt
KDD-Cup/data/085_UCR_Anomaly_10000.txt
KDD-Cup/data/086_UCR_Anomaly_20000.txt
KDD-Cup/data/087_UCR_Anomaly_17000.txt
KDD-Cup/data/088_UCR_Anomaly_20000.txt
KDD-Cup/data/089_UCR_Anomaly_100000.txt
KDD-Cup/data/090_UCR_Anomaly_50000.txt
KDD-Cup/data/091_UCR_Anomaly_40000.txt
KDD-Cup/data/092_UCR_Anomaly_20000.txt
KDD-Cup/data/093_UCR_Anomaly_35000.txt
KDD-Cup/data/094_UCR_Anomaly_2500.txt
KDD-Cup/data/095_UCR_Anomaly_4000.txt
KDD-Cup/data/096_UCR_Anomaly_5000.txt
KDD-Cup/data/097_UCR_Anomaly_5000.txt
KDD-Cup/data/098_UCR_Anomaly_1200.txt
KDD-Cup/data/099_UCR_Anomaly_1500.txt
KDD-Cup/data/100_UCR_Anomaly_5000.txt
KDD-Cup/data/101_UCR_Anomaly_6000.txt
KDD-Cup/data/102_UCR_Anomaly_10000.txt
KDD-Cup/data/103_UCR_Anomaly_3500.txt
KDD-Cup/data/104_UCR_Anomaly_6000.txt
KDD-Cup/data/105_UCR_Anomaly_24500.txt
KDD-Cup/data/106_UCR_Anomaly_18500.txt
KDD-Cup/data/107_UCR_Anomaly_5200.txt
KDD-Cup/data/108_UCR_Anomaly_30000.txt
KDD-Cup/data/109_UCR_Anomaly_35000.txt
KDD-Cup/data/110_UCR_Anomaly_35000.txt
KDD-Cup/data/111_UCR_Anomaly_35000.txt
KDD-Cup/data/112_UCR_Anomaly_2500.txt
KDD-Cup/data/113_UCR_Anomaly_4000.txt
KDD-Cup/data/114_UCR_Anomaly_4000.txt
KDD-Cup/data/115_UCR_Anomaly_4000.txt
KDD-Cup/data/116_UCR_Anomaly_4000.txt
KDD-Cup/data/117_UCR_Anomaly_4000.txt
KDD-Cup/data/118_UCR_Anomaly_4000.txt
KDD-Cup/data/119_UCR_Anomaly_10000.txt
KDD-Cup/data/120_UCR_Anomaly_15000.txt
KDD-Cup/data/121_UCR_Anomaly_15000.txt
KDD-Cup/data/122_UCR_Anomaly_8000.txt
KDD-Cup/data/123_UCR_Anomaly_5000.txt
KDD-Cup/data/124_UCR_Anomaly_5000.txt
KDD-Cup/data/125_UCR_Anomaly_5000.txt
KDD-Cup/data/126_UCR_Anomaly_8000.txt
KDD-Cup/data/127_UCR_Anomaly_5000.txt
KDD-Cup/data/128_UCR_Anomaly_5000.txt
KDD-Cup/data/129_UCR_Anomaly_5000.txt
KDD-Cup/data/130_UCR_Anomaly_4000.txt
KDD-Cup/data/131_UCR_Anomaly_5000.txt
KDD-Cup/data/132_UCR_Anomaly_3200.txt
KDD-Cup/data/133_UCR_Anomaly_2800.txt
KDD-Cup/data/134_UCR_Anomaly_1700.txt
KDD-Cup/data/135_UCR_Anomaly_1200.txt
KDD-Cup/data/136_UCR_Anomaly_1600.txt
KDD-Cup/data/137_UCR_Anomaly_2300.txt
KDD-Cup/data/138_UCR_Anomaly_3000.txt
KDD-Cup/data/139_UCR_Anomaly_2700.txt
KDD-Cup/data/140_UCR_Anomaly_1000.txt
KDD-Cup/data/141_UCR_Anomaly_4000.txt
KDD-Cup/data/142_UCR_Anomaly_1500.txt
KDD-Cup/data/143_UCR_Anomaly_2500.txt
KDD-Cup/data/144_UCR_Anomaly_4200.txt
KDD-Cup/data/145_UCR_Anomaly_5000.txt
KDD-Cup/data/146_UCR_Anomaly_5000.txt
KDD-Cup/data/147_UCR_Anomaly_5000.txt
KDD-Cup/data/148_UCR_Anomaly_6000.txt
KDD-Cup/data/149_UCR_Anomaly_7000.txt
KDD-Cup/data/150_UCR_Anomaly_7000.txt
KDD-Cup/data/151_UCR_Anomaly_10000.txt
KDD-Cup/data/152_UCR_Anomaly_9000.txt
KDD-Cup/data/153_UCR_Anomaly_14000.txt
KDD-Cup/data/154_UCR_Anomaly_16000.txt
KDD-Cup/data/155_UCR_Anomaly_18000.txt
KDD-Cup/data/156_UCR_Anomaly_3500.txt
KDD-Cup/data/157_UCR_Anomaly_3500.txt
KDD-Cup/data/158_UCR_Anomaly_3500.txt
KDD-Cup/data/159_UCR_Anomaly_3500.txt
KDD-Cup/data/160_UCR_Anomaly_3500.txt
KDD-Cup/data/161_UCR_Anomaly_1500.txt
KDD-Cup/data/162_UCR_Anomaly_2700.txt
KDD-Cup/data/163_UCR_Anomaly_10000.txt
KDD-Cup/data/164_UCR_Anomaly_5000.txt
KDD-Cup/data/165_UCR_Anomaly_6000.txt
KDD-Cup/data/166_UCR_Anomaly_10000.txt
KDD-Cup/data/167_UCR_Anomaly_20000.txt
KDD-Cup/data/168_UCR_Anomaly_22000.txt
KDD-Cup/data/169_UCR_Anomaly_24500.txt
KDD-Cup/data/170_UCR_Anomaly_18500.txt
KDD-Cup/data/171_UCR_Anomaly_18500.txt
KDD-Cup/data/172_UCR_Anomaly_23400.txt
KDD-Cup/data/173_UCR_Anomaly_3000.txt
KDD-Cup/data/174_UCR_Anomaly_3700.txt
KDD-Cup/data/175_UCR_Anomaly_5200.txt
KDD-Cup/data/176_UCR_Anomaly_1300.txt
KDD-Cup/data/177_UCR_Anomaly_3200.txt
KDD-Cup/data/178_UCR_Anomaly_17555.txt
KDD-Cup/data/179_UCR_Anomaly_23000.txt
KDD-Cup/data/180_UCR_Anomaly_20000.txt
KDD-Cup/data/181_UCR_Anomaly_60000.txt
KDD-Cup/data/182_UCR_Anomaly_4000.txt
KDD-Cup/data/183_UCR_Anomaly_4000.txt
KDD-Cup/data/184_UCR_Anomaly_48000.txt
KDD-Cup/data/185_UCR_Anomaly_58000.txt
KDD-Cup/data/186_UCR_Anomaly_100000.txt
KDD-Cup/data/187_UCR_Anomaly_30000.txt
KDD-Cup/data/188_UCR_Anomaly_30000.txt
KDD-Cup/data/189_UCR_Anomaly_45000.txt
KDD-Cup/data/190_UCR_Anomaly_70000.txt
KDD-Cup/data/191_UCR_Anomaly_38000.txt
KDD-Cup/data/192_UCR_Anomaly_12000.txt
KDD-Cup/data/193_UCR_Anomaly_10000.txt
KDD-Cup/data/194_UCR_Anomaly_20000.txt
KDD-Cup/data/195_UCR_Anomaly_17000.txt
KDD-Cup/data/196_UCR_Anomaly_20000.txt
KDD-Cup/data/197_UCR_Anomaly_100000.txt
KDD-Cup/data/198_UCR_Anomaly_50000.txt
KDD-Cup/data/199_UCR_Anomaly_40000.txt
KDD-Cup/data/200_UCR_Anomaly_20000.txt
KDD-Cup/data/201_UCR_Anomaly_10000.txt
KDD-Cup/data/202_UCR_Anomaly_11411.txt
KDD-Cup/data/203_UCR_Anomaly_11812.txt
KDD-Cup/data/204_UCR_Anomaly_12412.txt
KDD-Cup/data/205_UCR_Anomaly_9812.txt
KDD-Cup/data/206_UCR_Anomaly_25130.txt
KDD-Cup/data/207_UCR_Anomaly_3165.txt
KDD-Cup/data/208_UCR_Anomaly_5130.txt
KDD-Cup/data/209_UCR_Anomaly_19000.txt
KDD-Cup/data/210_UCR_Anomaly_36123.txt
KDD-Cup/data/211_UCR_Anomaly_38113.txt
KDD-Cup/data/212_UCR_Anomaly_8913.txt
KDD-Cup/data/213_UCR_Anomaly_33211.txt
KDD-Cup/data/214_UCR_Anomaly_34211.txt
KDD-Cup/data/215_UCR_Anomaly_36276.txt
KDD-Cup/data/216_UCR_Anomaly_37216.txt
KDD-Cup/data/217_UCR_Anomaly_38211.txt
KDD-Cup/data/218_UCR_Anomaly_41117.txt
KDD-Cup/data/219_UCR_Anomaly_41612.txt
KDD-Cup/data/220_UCR_Anomaly_43217.txt
KDD-Cup/data/221_UCR_Anomaly_45616.txt
KDD-Cup/data/222_UCR_Anomaly_56123.txt
KDD-Cup/data/223_UCR_Anomaly_74123.txt
KDD-Cup/data/224_UCR_Anomaly_76123.txt
KDD-Cup/data/225_UCR_Anomaly_81214.txt
KDD-Cup/data/226_UCR_Anomaly_96123.txt
KDD-Cup/data/227_UCR_Anomaly_11231.txt
KDD-Cup/data/228_UCR_Anomaly_11361.txt
KDD-Cup/data/229_UCR_Anomaly_16363.txt
KDD-Cup/data/230_UCR_Anomaly_19363.txt
KDD-Cup/data/231_UCR_Anomaly_8763.txt
KDD-Cup/data/232_UCR_Anomaly_8763.txt
KDD-Cup/data/233_UCR_Anomaly_18913.txt
KDD-Cup/data/234_UCR_Anomaly_18913.txt
KDD-Cup/data/235_UCR_Anomaly_18913.txt
KDD-Cup/data/236_UCR_Anomaly_19313.txt
KDD-Cup/data/237_UCR_Anomaly_19313.txt
KDD-Cup/data/238_UCR_Anomaly_21311.txt
KDD-Cup/data/239_UCR_Anomaly_190037.txt
KDD-Cup/data/240_UCR_Anomaly_240030.txt
KDD-Cup/data/241_UCR_Anomaly_250000.txt
KDD-Cup/data/242_UCR_Anomaly_100000.txt
KDD-Cup/data/243_UCR_Anomaly_100000.txt
KDD-Cup/data/244_UCR_Anomaly_100013.txt
KDD-Cup/data/245_UCR_Anomaly_100211.txt
KDD-Cup/data/246_UCR_Anomaly_100211.txt
KDD-Cup/data/247_UCR_Anomaly_50211.txt
KDD-Cup/data/248_UCR_Anomaly_2000.txt
KDD-Cup/data/249_UCR_Anomaly_2753.txt
KDD-Cup/data/250_UCR_Anomaly_2951.txt
.DS_Store
KDD-Cup/.DS_Store
KPI/test-data.hdf
KPI/.DS_Store
KDD-Cup/data/.DS_Store
KDD-Cup/sample-submission.csv
KPI/train-data.csv
50th.JPG
100.JPG
150.JPG
200.JPG
250.JPG
ADF_main.JPG
ADF_smallset.JPG
First.JPG
First50.csv
First50to100.csv
First100to125.csv
